.header2{
    text-align: left;
    height: 3.4rem;
    line-height: 3.4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
}
.buttonWrapper{
    margin: 0.5rem;
}
.logo{
    margin-right: .5rem;
}
